@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="jumbotron">
        <h1>Store Viewer</h1>
        <p>Use this site to view details of our stores across the country</p>
        <a asp-action="Stores" asp-controller="Home" class="btn btn-primary btn-lg">
            View Stores
        </a>
    </div>
</div>
